body {
    background-color: #a64d56;
}

h1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(green, yellow);
}

.rps-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choicebtn {
    background-color: #beaffd;
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

#result {
    background-color: #3e25e3;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    width: 350px;
    border: 2px solid rgb(16, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: wheat;
}

.score-board {
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.score {
    margin-left: 20px;
}

.resultbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}